doctype html
html
    head
        link(rel="stylesheet", href="/semantic/semantic.min.css")
        title Amazon
    body
        if user
            span(style="position: absolute; top: 2rem; right: 2rem;")
                |#{user.user_id}님 환영합니다.  |  
                a(href="/logout") Log out
        else
            span(style="position: absolute; top: 2rem; right: 2rem;")
                a(href="/login") Login
                |  | 
                a(href="/sign-up") Sign Up
        main.admin-wrapper
            include ./admin_sidebar
            block content