extends layout

block content
    .mini-carousel-main#mini-carousel-main
    .card-carousel-main#card-carousel-main
        <div class="card-container">
            <div class="card-wrapper">
                <div class="card-image">
                    <div class="card-title">title1</div>
                </div>
                <div class="card-btns-wrapper">
                    <div idx=1></div>
                    <div idx=2></div>
                    <div idx=3></div>
                    <div idx=4></div>
                </div>
            </div>
            <div class="card-wrapper">
                <div class="card-image">
                    <div class="card-title">title2</div>
                </div>
                <div class="card-btns-wrapper">
                    <div idx=5></div>
                    <div idx=6></div>
                    <div idx=7></div>
                    <div idx=8></div>
                </div>
            </div>
            <div class="card-wrapper">
                <div class="card-image">
                    <div class="card-title">title3</div>
                </div>
                <div class="card-btns-wrapper">
                    <div idx=9></div>
                    <div idx=10></div>
                    <div idx=11></div>
                    <div idx=12></div>
                </div>
            </div>
            <div class="card-wrapper">
                <div class="card-image">
                    <div class="card-title">title4</div>
                </div>
                <div class="card-btns-wrapper">
                    <div idx=13></div>
                    <div idx=14></div>
                    <div idx=15></div>
                    <div idx=16></div>
                </div>
            </div>
            <div class="card-wrapper">
                <div class="card-image">
                    <div class="card-title">title5</div>
                </div>
                <div class="card-btns-wrapper">
                    <div idx=17></div>
                    <div idx=18></div>
                    <div idx=19></div>
                    <div idx=20></div>
                </div>
            </div>
        </div>