extends layout

block content
    .main-sign-up(style="")
        .ui.form.signup-form-wrapper
            form(action="/sign-up", method="post")
                .field
                    label(for="user-id") User ID
                    input(type="text", name="user-id" placeholder="User ID")
                .field
                    label(for="user-password") User Password
                    input(type="password", name="user-password" placeholder="User Password")
                .field
                    label(for="user-password-check") User Password Reinput
                    input(type="password", name="user-password-check" placeholder="User Password Reinput")
                .field
                    label(for="user-name") User Name
                    input(type="text", name="user-name" placeholder="User Name")
                .field
                    label(for="user-birth") User Birth
                    input(type="text", name="user-birth" placeholder="2000-12-12")
                .field
                    input.ui.button(type="submit", value="회원가입")
                    input.ui.button(type="reset", value="초기화")
    script(src="/javascripts/signup.bundle.js")